@layer reset, base, theme, layout;

[data-button] {
  align-items: center;
  background: var(--btn-bg, var(--action-color));
  border: 1px solid var(--btn-border, transparent);
  color: var(--btn-text, var(--background-color));
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  font-weight: 600;
  justify-content: center;
  padding: 0.25em var(--gap);

  &:hover,
  &:focus {
    --btn-bg: var(--active-color);
    --btn-border: var(--border-color);
  }

  &[aria-pressed="true"] {
    --btn-bg: var(--background-color);
    --btn-border: var(--active-color);
    --btn-text: var(--text-color);
  }
}

[data-playlist-item] {
  align-items: center;
  border-inline-start: max(2cqi, 2ch) solid color-mix(in oklab, var(--song-color) 80%, canvas);
  color: canvasText;
  column-gap: calc(var(--gap) / 4);
  display: grid;
  grid-template:
    "song" auto
    "artist" auto
    "rating" auto/ 100%;
  font-size: var(--text-small);
  justify-items: start;
  padding: calc(var(--gap) / 2);

  @container (min-width: 30em) {
    grid-template:
      "song rating" auto
      "artist artist" auto / minmax(0, max-content) max-content;
  }

  p {
    margin: 0;
  }

  [data-song] {
    font-family: var(--sans-serif-font);
    font-weight: bold;
    grid-area: song;
  }

  .top-pick {
    background: var(--highlight-color);
    border: 2px solid var(--border-color);
    border-radius: 4px;
    font-family: var(--sans-serif-font);
    font-size: var(--text-xsmall);
    font-weight: bold;
    color: canvas;
    padding: 0.25cqi 0.5cqi;
    grid-area: rating;
  }

  .artist {
    font-size: var(--text-small);
    grid-area: artist;
  }
}

[data-playlist-item~="red"] {
  --song-color: oklch(0.5466 0.2208 26.67);
}

[data-playlist-item~="yellow"] {
  --song-color: oklch(0.9815 0.0884 107.23);
}

[data-playlist-item~="orange"] {
  --song-color: oklch(0.7927 0.141 70.67);
}

[data-playlist-item~="indigo"] {
  --song-color: oklch(0.4738 0.3005 273.86);
}

[data-playlist-item~="blue"] {
  --song-color: var(--base-color);
}

[data-playlist-item~="purple"] {
  --song-color: oklch(0.5045 0.1487 277.84);
}

[data-playlist-item~="green"] {
  --song-color: oklch(0.561 0.1813 141.97);
}

[data-playlist-item~="pink"] {
  --song-color: color-mix(in oklab, oklch(54.66% 0.225 340), white);
}

[data-playlist-item~="black"] {
  --song-color: oklch(0.7% 0.007 333);
}

[data-playlist-item~="white"] {
  --song-color: oklch(99.5% 0 333);
}

@layer layout {
  body {
    container: body / inline-size;
    display: grid;
    grid-template:
      "header" auto
      "main" 1fr
      "footer" auto;
  }

  .page-header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    grid-area: header;
    align-content: center;
    container: header / inline-size;
    padding: var(--gap);

    @container (min-width: 20em) {
      justify-content: end;
    }
  }

  nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--sans-serif-font);
    gap: var(--gap);
    margin-block-end: 0;

    @container header (min-width: 20em) {
      justify-content: end;
    }

    a {
      padding: calc(var(--gap) / 2);
    }
  }

  details {
    font-family: var(--sans-serif-font);
    position: relative;

    .dropdown {
      background: var(--surface-light);
      border: thin solid var(--border-color);
      padding: var(--gap);
      position: absolute;

      @container header (min-width: 20em) {
        inset-inline-end: 0;
      }

      fieldset {
        border-color: var(--border-color);
      }
    }

    [data-options~="theme"] {
      display: grid;
      font-size: var(--text-small);
      gap: calc(var(--gap) / 2);
    }
  }

  main {
    container: main-content / inline-size;
    display: grid;
    gap: var(--gap);
    grid-area: main;
    grid-template:
      "header" auto
      "playlist" auto/ 100%;
    margin: var(--gap);

    @container body (min-width: 25em) {
      --summary-text: end;
      grid-template:
        "header playlist" auto
        / 50vw 1fr;

      .content-header {
        align-content: start;
        display: grid;
        font-family: var(--sans-serif-font);
        grid-area: header;
        margin: 3lh 0;
        justify-items: end;
      }

      .main-heading {
        margin-block-end: 0;
      }
    }

    .summary {
      text-align: var(--summary-text, start);
      margin-block: 0;
      text-wrap: balance;
    }
  }

  .playlist {
    @container body (max-width: 25em) {
      --list-padding: calc(var(--gap) * 2);
    }
  }

  [data-layout="footer"] {
    display: grid;
    font-family: var(--sans-serif-font);
    font-size: var(--text-small);
    grid-area: footer;
    grid-template:
      "contact" 1fr
      "footer" auto / 100%;
    padding: calc(var(--gap) * 2);

    @container (min-width: 30em) {
      grid-template:
        "contact ." 1fr
        "footer footer" auto / 1fr 1fr;
    }
  }

  [data-layout="contact-form"] {
    background: var(--surface-light);
    padding: var(--gap);
  }

  [data-form] {
    display: grid;
    gap: var(--gap);

    .field-group {
      display: grid;
      gap: var(--gap);
      grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    }

    [data-input*="text"] {
      --focus-ring: transparent;
      border: 2px solid var(--input-border, var(--border-color));
      padding: calc(var(--gap) / 4);

      &:focus {
        --input-border: transparent;
        --outline-offset: 0;
        --focus-ring: oklch(from var(--border-color) l calc(c + 0.1) h);
      }

      &:user-invalid:not(:active, :focus) {
        --input-border: red;
      }
    }

    [data-field] {
      display: grid;
      grid-template:
        "label" auto
        "input" auto / 100%;
    }
  }

  footer {
    grid-area: footer;
  }
}

@layer theme {
  html {
    color-scheme: light dark;

    &[data-scheme="light"] {
      color-scheme: light;
    }

    &[data-scheme="dark"] {
      color-scheme: dark;
    }

    accent-color: var(--accent-color);

    --text-xsmall: clamp(0.748rem, 0.624rem + 0.254cqi, 1.25rem);
    --text-small: clamp(0.938rem, 0.824rem + 0.568cqi, 1.25rem);
    --text-normal: clamp(1.25rem, 1.023rem + 1.136cqi, 1.875rem);
    --text-large: clamp(1.35rem, 0.818rem + 2.659cqi, 2.813rem);
    --text-xlarge: clamp(1.7rem, 0.784rem + 4.58cqi, 4.219rem);
    --gap: clamp(2cqi, 0.5lh, 5cqi);

    --base-color: light-dark(oklch(33.5% 0.133 259.73),
      oklch(90.5% 0.046 259.73));

    --surface-feature: light-dark(oklch(from var(--base-color) calc(l + 0.25) 0.202 h),
      oklch(from var(--base-color) 80% 0.202 h));
    --surface-light: color-mix(in oklab,
      var(--background-color) 80%,
      var(--base-color));

    --text-color: canvasText;
    --background-color: light-dark(oklch(95.5% 0 162),
      oklch(22.635% 0.01351 291.83));
    --border-color: color-mix(in oklab, var(--base-color), grey);
    --accent-color: oklch(from var(--base-color) l c calc(h - 120));
    --action-color: var(--base-color);
    --active-color: light-dark(oklch(from var(--base-color) calc(l / 0.85) c h),
      oklch(from var(--base-color) calc(l * 0.9) c h));
    --highlight-color: oklch(from var(--base-color) l c calc(h + 60));

    --serif-font: "Nimbus Mono PS", "Courier New", monospace;
    --sans-serif-font: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", 
      sans-serif-condensed, sans-serif;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--serif-font);
    transition:
      background 200ms linear,
      color 200ms linear;
  }

  h1 {
    font-family: var(--sans-serif-font);
    font-size: var(--text-xlarge);
    text-wrap: balance;
  }

  :focus-visible {
    outline: 3px solid var(--focus-ring, canvasText);
    outline-offset: var(--outline-offset, 0.15em);
  }

  :any-link {
    color: var(--link-color, var(--action-color));
    text-decoration: underline;
    text-decoration-color: var(--underline-color, var(--accent-color));
    text-decoration-thickness: var(--underline-thickness, 0.1em);
    text-underline-offset: var(--underline-offset, 0.15em);
    transition:
      color 150ms,
      text-decoration-color 150ms,
      text-decoration-thickness 150ms ease-out;

    &:hover,
    &:focus {
      --link-color: var(--accent-color);
      --underline-thickness: 0.25em;
    }
  }
}

@layer base {
  body {
    font-size: var(--text-normal);
    line-height: 1.2;
    overflow-wrap: break-word;
  }
}

@layer reset {
  * {
    box-sizing: border-box;
  }

  html {
    block-size: 100%;
  }

  body {
    margin: unset;
    min-block-size: 100%;
  }

  picture {
    display: contents;
  }

  img {
    display: block;
  }

  img,
  svg {
    max-inline-size: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  ul,
  ol {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: var(--list-padding, 0);
  }
}
